

.bannar{
    height:  calc(100vh - 105px);
    width: 100vw;

    background-image: url(./images/home-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.text-color{
    color: white;
}

/* menu hover */

.menu-hover:hover{
    background-color: #fff;
    color: black;
    transition: .8s;
}


/* start sign */
.filled{
    color: gold;
}


/* google map  */

.maps{
    overflow:hidden;
}

/* google */
.gmap_canvas {
    overflow:hidden;
    background:none!important;
}
.mapouter {
    position: relative;
    text-align: right;
  }


/* blof image animation */
.blogs-content:hover .image-blog{
    transform: scale(1.2);
    transition: 0.8s;
    cursor: pointer;
}
.blogs-img{
    overflow: hidden;
}